@import url('http://design.elliottcable.name/960/reset.css');
@import url('http://design.elliottcable.name/typography.css') screen, print;

* {
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
  font: 11pt/1.7 "Fontin Regular", Georgia, "Times New Roman", Times, serif;
}

#search {
  padding: 1em;
  background-color: #EEEEEE;
  border-bottom: 4px solid #CCCCCC;
}
#search legend { display: none; }
#search label { display: none; }
#search fieldset { border: none; }
#search input {
  display: block;
  border: none;
  width: 100%;
  font: 325%/1.3 Anivers, Monaco, monospace;
  background: transparent;
}

/* -- -- -- -- -- ! -- -- -- -- -- */ /* Basics */

/* Page containers */
#post, #index {
  width: 45em;
  margin: auto;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }
code, pre, tt { font-family: Inconsolata; }
sup { vertical-align: super; font-size: 75%; font-weight: bold; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Museo 100", Helvetica, Geneva, sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0.5em 0.5em;
  margin-left
}

h1 { font-size: 350%; }
h2 { font-size: 200%; }
h3 { font-size: 125%; }
h4,
h5,
h6 { font-size: 100%; }

/* All 'body' block elements */
p, pre, blockquote {
  padding-bottom: 1.2em;
}

/* Textual block elements */
p {
  text-align: justify;
}

/* Stand-out block elements */
pre {
  margin-left: 1em;
}

blockquote {
  margin-left: 1em;
  padding-left: 1em;
  padding-right: 2em;
}

blockquote {
  border-left: 3px solid #144FAE;
}

blockquote blockquote {
  border-left: 3px solid #0a6313;
}

blockquote blockquote blockquote {
  border-left: 3px solid #520406;
}

/* -- -- -- -- -- ! -- -- -- -- -- */ /* Post pages */



/* -- -- -- -- -- ! -- -- -- -- -- */ /* Tables */

table {}

table tr td {
  padding: 3px 0.5em;
}

/* -- -- -- -- -- ! -- -- -- -- -- */ /* Video */

#post .video {
  display: table !important;
  margin: auto;
}
#post .video > * {
  display: table-cell !important;
  vertical-align: middle !important;
}

/* -- -- -- -- -- ! -- -- -- -- -- */ /* Index page */

#index #posts {}

#index #posts li {
  list-style-type: none;
  text-align: center;
  font-size: 150%;
}

/* -- -- -- -- -- ! -- -- -- -- -- */ /* Footers */

.footnotes {
  padding: 1em;
  background-color: #EEEEEE;
  border-top: 4px solid #CCCCCC;
  font-size: 90%;
}
.footnotes hr { display: none; }
.footnotes ol li { padding-bottom: 1.2em; }
.footnotes ol li p { display: inline; }

#footer {
  padding-right: 5px;
  padding-left: 5px;
  background: white;
  position: fixed;
  bottom: 0px;
  right: 0px;
  font-size: 85%;
}

#footer p {
  margin: 0 !important;
  padding: 0 !important;
}
