!!! xml
!!! 1.1
%html{:xmlns => 'http://www.w3.org/1999/xhtml', :'xml:lang' => 'en'}
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'application/xhtml+xml;charset=utf-8'}/
    %title= title
    %link{:rel => 'stylesheet', :href => '../design/main.css', :type => 'text/css;charset=utf-8'}/
    %link{ :href => "http://creativecommons.org/licenses/by-nc-sa/3.0/", :rel => "copyright", :type => "text/html;charset=utf-8" }/
    / %link{:rel => 'alternate', :href => '/posts/feed.rss', :type => 'application/rss+xml', :title => 'Feed (RSS 2.0)'}/
    / %link{:rel => 'alternate', :href => '/posts/feed.atom', :type => 'application/atom+xml', :title => 'Feed (Atom)'}/
  %body
    %form#search{ :action => "http://www.google.com/cse", :method => "get" }
      %fieldset
        %legend search
        %label{ :for => "query" } query
        %input{ :name => "cx", :type => "hidden", :value => "008195820882350425138:py-r17o9ygw" }/
        %input#query{ :tabindex => "1", :name => "query", :type => "text" }/
    
    %h1= title
    #post= content
    
    #footer
      :markdown
        return [home](../ "blog root") | powered by [git-blog](http://github.com/elliottcable/git-blog "elliottcable's git-blog on GitHub")
    
    %script{ :type => "text/javascript", :src => "http://www.google-analytics.com/ga.js" }
    :javascript
      var pageTracker = _gat._getTracker("UA-5294724-2")._trackPageview();